architecture-beta
	group api(cloud)[{{artifactId}}]

{{#components}}
	service {{id}}(server)[{{label}}] in api
{{/components}}

{{#relationships}}
	{{source}}{{connection}}{{target}}
{{/relationships}}