architecture-beta
		group api(cloud)[{{artifactId}}]
{{#services}}
			service {{.}} (server)[{{.}}] in api
{{/services}}
{{#redisClients}}
			service {{.}} (database)[{{.}}] in api
{{/redisClients}}
{{#restClients}}
			service {{.}} (server)[{{.}}] in api
{{/restClients}}
{{#relationships}}
			{{source}}:{{direction}} -- {{target}}
{{/relationships}}